@import '../../../styles/colors';
@import '../../../styles/variables';

%student-card{
  width: 18%;
  margin: 1%;
  background-color: $gold;
  box-shadow: $box-shadow;
  .img-holder{
    height: 250px;
    overflow: hidden;
    img {
    width:100%;
    }
  }
  h2 {
    @include defaultFont(20px);
  }
}
@mixin houseStyles($houseColor){
  @extend %student-card;
  h2 {
    color:$houseColor;
  }
}
.student-gryffindor {
  @include houseStyles($gryffindor)
  }
.student-slytherin {
  @include houseStyles($slytherin)
}
.student-ravenclaw {
  @include houseStyles($ravenclaw)
}
.student-hufflepuff {
  @include houseStyles($hufflepuff)
}